<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Employee Management</a>
      <button class="navbar-toggler" type="button"  >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav navbar-right">
          <li class="nav-item" >
            <a class="nav-link" [routerLink] = "['/manager']">Dashboard</a>
          </li>  
            <li class="nav-item" >
              <a class="nav-link" [routerLink] = "['/requests']">Requests</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" [routerLink] = "['/assign']">Assign Task</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" [routerLink] = "['/announcement']">Announcement</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" (click) = "onLogoutClick()" href = "#">Logout</a>
            </li>    
          </ul>
      </div>
      </div>
  </nav>

<p>announce works!</p>
