/* Center the form and give it some padding */
form {
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
/* border: 1px solid #ccc; */
background-color: #333;
border-radius: 5px;
/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
max-width: 500px;
margin: 0 auto;
}

/* Style the form header */
h1 {
text-align: center;
font-size: 24px;
margin-bottom: 20px;
}

/* Style the form labels */
label {
display: block;
font-size: 18px;
margin-bottom: 10px;
/* font-weight: bold; */
}

/* Style the form inputs */
input,
select {
width: 100%;
padding: 10px;
margin-bottom: 20px;
border-radius: 5px;
border: 1px solid #ccc;
background-color:white;
color:black;
font-size: 16px;
}

textarea
{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color:white;
    color:black;
    font-size: 16px;    
}

/* Style the submit button */
input[type="submit"] {
background-color: #4CAF50;
color: white;
cursor: pointer;
font-size: 18px;
padding: 10px 20px;
border: none;
border-radius: 5px;
transition: all 0.3s ease;
}

input[type="submit"]:hover {
background-color: #3e8e41;
}

/* Style the error messages */
/* input:invalid,
select:invalid,
textarea:invalid {
border-color: red;
} */

/* input:invalid + span::before,
select:invalid + span::before,
textarea:invalid + span::before {
content: '⚠';
margin-right: 5px;
}

input:valid,
select:valid,
textarea:valid {
border-color: #ccc;
}

input:valid + span::before,
select:valid + span::before,
textarea:valid + span::before {
content: '✓';
margin-right: 5px;
color: green;
} */